<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="final.css">
</head>
<body>
    <nav class="header">
        <img src="./logoMM.png" alt="metamixlogo" class="metalogo"/>
         <h1>ToDo</h1>
         <ul class="nav-link">
       <li>   <i class="fa fa-user" aria-hidden="true"></i>
       </li>
        <li> <h3>username</h3> </li>
         <li><button>LOG OUT</button> </li>
       </ul>
         </nav>





         <div class="wrapper"> 
            <div class="sidebar">
                
                <ul>
                    <li><a href="#">My Form</a></li>
                    <li><a href="#">My Task</a></li>
                    <li><a href="#">Appoint Me</a></li>
                    <li><a href="#">Appointed Me</a></li>
                    
                </ul> 
                </div>
                </div>






                <div class="Cal">
                    <h1>Current Date</h1>
                    <input type='date'></input>
                  </div>










                <form class="form">
        
        
                    <input class="taskText" type="text">
                    <div class="taskButton">
                        <button class="forMeBtn">For Me</button>
                        <button class="forOtherBtn">To Other</button>
                    </div>
                    <div class="taskButton1">
                      <input class="user" type="text">
                      <button class="savebtn">Save</button>
                    </form>
                </div>

                
</body>
</html>