<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    
        <nav class="header">
       <img src="./logoMM.png" alt="metamixlogo" class="metalogo"/>
        <h1>ToDo</h1>
        <ul class="nav-link">
      <li>   <i class="fa fa-user" aria-hidden="true"></i>
      </li>
       <li> <h3>username</h3> </li>
        <li><button>LOG OUT</button> </li>
      </ul>
        </nav>
       
    
</body>
</html>