<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="taskform.css">
</head>
<body>
   <!-- <div class="form">
        <input type='text'></input>
        <button>For Me</button>
        <button>For Other</button>
        <input type='text'>username</input>
        <button>Save</button>
      </div> -->

      <form class="form">
        
        
        <input class="taskText" type="text">
        <div class="taskButton">
            <button class="forMeBtn">For Me</button>
            <button class="forOtherBtn">To Other</button>
        </div>
        <div class="taskButton1">
          <input class="user" type="text">
          <button class="savebtn">Save</button>
        </form>
    </div>
</body>
</html>